cff-version: 1.2.0
message: "[TO BE COMPLETED BY HUMAN]"
title: "SCAA-PLC JSS Artifact"
version: 1.0.0
date-released: "[TO BE COMPLETED BY HUMAN]"
authors: "[TO BE COMPLETED BY HUMAN]"
repository-code: "[TO BE COMPLETED AFTER UPLOAD]"
